<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOoCMArZvDMMXKZPzKKLjSoDRiTw4bCGs</string>
	<key>GCM_SENDER_ID</key>
	<string>879426475852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.privyChat</string>
	<key>PROJECT_ID</key>
	<string>privychat-4bc01</string>
	<key>STORAGE_BUCKET</key>
	<string>privychat-4bc01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879426475852:ios:b504fec99543b4560561e9</string>
</dict>
</plist>